/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 970px;
    /* height: 500px; TEMP */
    margin: 0 auto;
    color: white;
}

.top-content {
    background-color: #245076;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

header img {
    width: 375px;
}

#header-right {
    width: 250px;
}

header a {
    color: yellow;
}

header form {
    background-color: gray;
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px 36px;
    text-align: center;
    box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
}

form input {
    width: 120px;
    padding: 10px;
}

form button {
    background-color: #245076;
    padding: 6px;
    border-radius: 5px;
}

nav {
    width: 800px;
    height: 50px;
    background-color: #427cad;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
/* Desde aquí trabajó Vale*/
.row{
    display: flex;
    width: 800px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.page_guide li a{
    color: white;
}

.page_guide li{
    margin-top: 10px;
    list-style-position: inside;
    color: yellow;
}

.row div{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row div ul{
    color: yellow;
    list-style: none;
    font-style: italic;
    font-size: larger;
}

.row div ul li{
    margin-top: 10px;
}

#zen{
    color: white;
    font-style: normal;
}

.middle-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    color: black;
}

.content-python {
    border-top: 4px solid #427cad;
    width: 400px;
    /* height: 200px; TEMP */
}

.content-python h3 {
    margin: 10px 0;
    font-weight: normal;
}

.content-python p {
    line-height: 15px;
}

.content-python ul {
    margin: 10px 0;
    list-style: square;
}

.blue {
    color: #427cad;
}

footer {
    padding-top: 50px;
    padding-bottom: 10px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#104d7c+0,3373aa+100 */
    background: #104d7c; /* Old browsers */
    background: -moz-linear-gradient(top,  #104d7c 0%, #3373aa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #104d7c 0%,#3373aa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #104d7c 0%,#3373aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#104d7c', endColorstr='#3373aa',GradientType=0 ); /* IE6-9 */
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-transform: capitalize;
}

footer ul a {
    color: #7fb2de;
    text-decoration: none;
}

footer p {
    font-size: 10px;
    text-align: center;
    color: #7fb2de;
    margin-top: 20px;
}
